#about p{
    max-width: 750px; 
    width: 100%;
    font-size: 17px;
    margin: 0 auto;
    color: #cfcfe0;
    line-height: 1.6;
}
#about span{
    color: rgb(1, 145, 255);;
}
#about{
    border-bottom: 1px solid gray;
    margin-top: 20px;
    text-align: center;
    padding: 0  20px 40px 20px;
}

@media (max-width: 600px) {
    #about p {
        font-size: 15px;
        padding: 0 10px;
    }
}